{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Add News Article
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <form method="POST" action="{% url 'add_news' %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        {{ add_news_form | crispy }}
        <button class="btn btn-black rounded-0" type="submit">Add Article</button>
    </form>
</div>

{% endblock %}