{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    News
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container content-container">
    {% for n in news %}
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="my-3">{{ n.title|title }}</h2>
                <h6 class="text-muted">Published By: {{ n.author|title }} on {{ n.date }}</h6>
                {% if user.is_superuser %}
                    <a href="{% url 'edit_news' news_id=n.id %}">Edit</a> |
                    <a href="{% url 'delete_news' news_id=n.id %}" class="text-danger">Delete</a>
                {% endif %}
                <hr class="w-50">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-1 my-auto py-5 text-center">
                <p class="">
                    {{ n.body }}
                </p>  
            </div>
            <div class="col-md-3 offset-md-1 my-3 text-center">
                {% if n.image %}
                    <img class="news-image" src="{{ n.image.url }}" alt="{{ image.name }}">
                {% else %}
                    <img class="news-image" src="{{ MEDIA_URL }}default_news.png" alt="{{ image.name }}">
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}