{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    News
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% for n in news %}
    <div>
        <h2>
            <a href="">
                {{ n.title}}
            </a>
        </h2>
        {% if n.image %}
            <img src="{{ n.image.url }}" alt="">
        {% else %}
            No Image
        {% endif %}
        <p>
            {{ n.body }}
        </p>
        <p>
            {{ n.date }}
        </p>
    </div>
    <hr>
{% endfor %}

{% endblock %}