{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Contact Us
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container form-container py-5">
    <h2 class="text-center">Contact Us!</h2>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <form method="POST"  action="{% url 'contact' %}" class="form text-center mb-2">
                {% csrf_token %}
                {{ contact_form | crispy }}
                <button class="btn form-button" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}