{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Contact Us
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST"  action="{% url 'contact' %}" class="form mb-2">
        {% csrf_token %}
        {{ contact_form | crispy }}
        <button class="btn btn-black rounded-0" type="submit">Send</button>
    </form>
</div>
{% endblock %}